<div class="share-menu">
    <div class="share-menu-content">
        <ul>
            <li class="facebook-box-icon"><a target="_blank" href="{{ ltLike.like.facebookUrl  }}"
                                             class="dropdown-link" ng-click="ltLike.Analytics('fb')"> Facebook</a></li>
            <li class="google-box-icon"><a target="_blank" href="{{ ltLike.like.googleUrl }}"
                                           class="dropdown-link" ng-click="ltLike.Analytics('g')"> Google+</a></li>
            <li class="vkontakte-box-icon"><a target="_blank" href="{{ ltLike.like.vkontakteUrl  }}"
                                              class="dropdown-link" ng-click="ltLike.Analytics('vk')"> Вконтакте</a></li>

        </ul>
    </div>
</div>