<div class="share-menu">
    <div class="share-menu-content">
        <ul>
            <li class="facebook-box-icon"><a ng-click="ltShare.share.facebook();ltShare.Analytics('fb');"
                   class="dropdown-link"> Facebook</a></li>
            <li class="google-box-icon"><a ng-click="ltShare.share.google();ltShare.Analytics('g');"
                   class="dropdown-link"> Google+</a></li>
            <li class="vkontakte-box-icon"><a ng-click="ltShare.share.vkontakte();ltShare.Analytics('vk');"
                   class="dropdown-link"> Вконтакте</a></li>

        </ul>
    </div>
</div>